html, body {
	height: 100%;
}

body {
	display: flux;
	align-items:center;
	justify-content: center;
}
h1{
	animation: typing-text 2s steps(69);
	overflow-y: hidden;
	white-space: nowrap;
}

@keyframes typing-text {
	from {
		width: 0ch;
	}
	to {
		width: 69ch;
	}
}